fastapi~=0.98.0
python-dotenv==1.0.0
requests==2.31.0
snakecase==1.0.1
uvicorn~=0.22.0
sqlalchemy~=2.0.17
nltk~=3.8.1
psycopg2--binary
pandas~=2.0.3
pydantic~=1.10.9
httpx~=0.23.0
openai~=0.27.8
orjson == 3.9.1
chardet~=5.1.0
langchain== 0.0.240
tiktoken== 0.4.0
pypdf==3.12.2
docarray== 0.35.0
